
body {
	font-family: "Lucida Grande", verdana, arial, sans-serif;
	font-size: 10pt;
	background-color: #252525;
	color: black;
	margin: 0;
	padding: 0;
}
a {
	color: #117095;
}
a:hover {
	color: #248db6;
}
img {
	border: 0;
}

.round {
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.round-bottom {
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}	

#page {
	width: 900px;
	margin: 0 auto;
	position: relative;
}

#content {
	background-color: #fff;
}
#header-bkg {
	background: #ddd;
	height: 70px;
}


#footer {
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
	background-color: white;
	padding: 5px 0;
	color: #666;
	font-size: 0.8em;
}
#footer a {
	color: #58accd;
}
#footer span {
	margin: 0 8px;
}

#map-page td {
	vertical-align: top;
}

#map-footer {
	margin: 0;
	padding: 0;	
}
#map-footer .round {
	-moz-border-radius: 0;
	border-radius: 0;
}
#map-footer #footer {
	margin-top: 0;
}

#sidebar {
	width: 240px;
	background-color: #ccc;
	background: url(images/map-pane-sidebar-bkg.png);
	color: black;
	border-right: 3px #444 solid;
}

#geoloqi-logo {
	position: absolute;
	top: 10px;
	left: 20px;
	background: url(images/geoloqi-logo-text.png) no-repeat;
	width: 143px;
	height: 51px;
}

#sidebar-logo {
	padding: 6px 0;
	background-color: #777;
}
#sidebar #geoloqi-logo {
	position: relative;
	left: 0;
	top: 0;
	margin: 0 auto;
}

.sidebar-panel {
	margin: 10px;
	padding: 4px;
	background-color: #fff;
	border:2px solid #fff;
}
.sidebar-panel.active {
	background-color: #c8e6f1;
	border:2px solid #3E829B;
}

.sidebar-panel .panel-title {
	font-weight: bold;
	background: url(images/tiny-arrows-blue.png) left bottom no-repeat;
	padding-left: 19px;
}
.sidebar-panel .panel-title.active {
	background: url(images/tiny-arrows-blue.png) left top no-repeat;
}

.sidebar-panel .panel-title.hover {
	cursor: pointer;
}

.sidebar-panel .small {
	font-size: 0.8em;
	color: #666;
}

.sidebar-panel th {
	text-align: left;
	font-weight: bold;
	font-size: 0.8em;
}

.sidebar-panel textarea, .sidebar-panel input.text {
	width: 200px;
	margin: 0 auto;
}

.sidebar-panel .submit {
	border: 2px #666 solid;
	font-size: 12px;
	padding: 2px 12px;
	margin: 2px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}



#profile-info .line {
	margin-bottom: 4px;
}
#profile-info .label {
	font-weight: bold;
}
#profile-info .name {
	font-size: 1.3em;
	font-weight: bold;
	color: #333;
}
#profile-info .username {
	font-weight: bold;
}
#profile-info .bio {
	font-style: italic;
}

#profile-info table {
	width: 100%;
}
#profile-info .last-lat, #profile-info .last-lng {
	color: #179bef;
	font-weight: bold;
}
#profile-info .last-time {
	float: right;
	text-align: right;
	width: 130px;
}
#profile-info .last-time .relative {
	cursor: pointer;
}
#profile-info .last-time .absolute {
	font-size: 80%;
	display: none;
}

.history_params input {
	border: 1px #333 solid;
}
.history_params input.warning {
	background-color: #ffd5b6;
}

#history_loading {
	padding: 10px;
	float: right;
}
#history_loading div.loading {
	background: url(images/history_loading.gif) no-repeat;
}

#geonote_success {
	text-align: center;
	font-weight: bold;
	font-size: 1.3em;
}	



#header-bar {
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: #fff;
	font-size: 0.8em;
	z-index: 100;
}
#header-bar .inner {
	padding: 4px;
}
#header-bar .signed-out {
	margin-left: 7px;
	margin-right: 7px;
}
#header-bar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#header-bar li {
	float: left;
	margin-left: 7px;
	margin-right: 7px;
	padding: 2px 0;
}
#header-bar a {
	text-decoration: none;
}


#settings-menu {
	background-color: #666;
	padding-left: 40px;
	padding-top: 10px;
	padding-bottom: 0;
}
#settings-menu a {
	float: left;
	margin-left: 9px;
	margin-right: 9px;
	text-decoration: none;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	background-color: #444;
	color: white;
	padding: 4px 12px;
	font-size: 0.9em;
}
#settings-menu a.selected {
	color: black;
	background-color: white;
}


.settings-wrap {
	padding-top: 10px;
	padding-bottom: 30px;
}
.settings table {
	width: 660px;
	margin: 10px 50px;
}
.settings table .label {
	font-size: 16pt;
}
.settings table .description {
	color: #666;
}
.settings table td {
	vertical-align: top;
}
.settings table .left {
	width: 150px;
	padding-right: 20px;
}
.settings table input.field, .settings table textarea.field, .settings table select.field {
	width: 250px;
	border: 2px #999 solid;
	padding: 3px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.settings table input.highlight {
	border: 2px #ffbd0c solid;
	background-color: #ffc;
}
.settings table .description.highlight {
	color: #f17700;
}

.settings .submit {
	border: 3px #666 solid;
	font-size: 18px;
	padding: 2px 18px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.settings .submit.small {
	font-size: 14px;
	padding: 2px 14px;
}

.settings td {
	padding-bottom: 15px;
}

.settings-stacked .checkbox {
	float: left;
	margin-right: 10px;
}

.settings .header {
	background-color: #ccc;
	font-size: 18pt;
	font-weight: bold;
	padding: 4px 50px;
	margin-top: 10px;
}
.settings .app_icon {
	margin-right: 10px;
}

.settings input.text {
	border: 3px #666 solid;
	font-size: 18px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-bottom: 4px;
	width: 220px;
}

.settings .applications .label {
	display: inline;
}
.settings .applications .author {
	font-size: 0.8em;
	display: inline;
}
.settings .applications .author a {
	text-decoration: none;
}
.settings .applications .info {
	font-size: 0.8em;
}
.settings .applications .info a {
	font-weight: bold;
}

.settings .coming-soon {
	opacity: 0.2;
	-moz-opacity: 0.2;
}
.settings .coming-soon .description {
	color: black;
}

.settings .connection-username {
	font-size: 13pt;
	font-weight: bold;
}
.settings .connection-username a {
	text-decoration: none;
}

.settings.tabular td.section-header {
	font-size: 16pt;
	padding: 4px;
}
.settings.tabular td {
	padding: 6px;
}


.share_popup {
	font-size: 10pt;
}
.share_popup .caption {
	font-size: 13pt;
}
.share_popup .tweet_box {
	width: 280px;
	margin: 10px auto;
}
.share_popup .tweet_this {
	text-align: left;
}
.share_popup textarea.tweet_text {
	font-family: "Lucida Grande", verdana, arial, sans-serif;
	font-size: 10pt;
	width: 280px; 
	height: 60px;
}
.share_popup .btn_close {
	float: left;
}
.share_popup .btn_tweet {
	float: right;
}

.share_popup .tweet_count {
	font-size: 13pt;
}
.share_popup .tweet_count.warning {
	color: #9f1919;
}
.share_popup .tweet_count.disabled {
	color: #e72424;
}	



#GB_overlay {
	z-index: 200;
	position: fixed;
	top: 0;
	left: 0;
	width:  100%;
	height: 100%;
	margin: auto;
	background-color: #000;
	opacity: 0.5;
	-moz-opacity: 0.5;
}

#GB_window {
	display: none;
	position: fixed;
	z-index: 201;
	width: 400px;
	height: 240px;
	top: 20px;
	left: 0;
	margin: 0 auto;
	border-radius: 10px;
	-moz-border-radius: 10px;
	background: #fff;
	border: 4px #ccc solid;
	overflow: hidden;	
}

#GB_frame {
	padding: 20px;
}

#GB_frame.notice {
	text-align: center;
	font-size: 18pt;
}


.btn {
	background: url(images/button-sprite.png) repeat-x -30px;
	border: 1px #ccc solid;
	padding: 0 15px;
	height: 40px;
	font-size: 15pt;
	text-shadow: 1px 1px 0 #FFFFFF;
	color: #333;
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
}

.btn:hover {
	border: 1px #aaa solid;
}	

.btn-ok {
	background: url(images/button-sprite.png) repeat-x;
	border: 1px #0687ba solid;
	font-weight: bold;
	text-shadow: -1px -1px 0 #3399DD;
	color: #fff;
}

.btn-ok:hover {
	border: 1px #000033 solid;
}	


