
body {
	font-family: "Trebuchet MS", verdana, arial, sans-serif;
	background-color: #fff;
	color: black;
	margin: 0;
	padding: 0;
}
a {
	color: #117095;
}
a:hover {
	color: #248db6;
}
img {
	border: 0;
}
